body {
  font-family: 'Comic Sans MS', sans-serif; /* Correct font-family name */
  background-color: #F8F8F8;
}

.header {
    background-color: #67B58E; /* Bootstrap primary blue, for example */
    color: #000000; /* White text color */
}

.navbar-brand, .nav-link {
    background-color: #67B58F
    color: #000000 !important; /* Ensuring the text color is white for navigation items */
}
