{% extends "base.html" %}

{% block content %}
<div class="main">
    Welcome to Carpool Connect. We are a rideshare app that
    allows people to make connections with fellow travelers in order
    to split a ride from their origination to destinations. The goal
    of this app is to not only create a convenient travel option but
    also to encourage a more sustainable way to travel by car, as sharing
    a ride between multiple people lowers the carbon emissions per capita
    and can therefore have a significant impact in attempts to reduce
    global carbon emissions.
</div>


{% endblock %}