{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
        <div class="col-md-2">
            <a href="https://draftkings.com" target="_blank"><img src="{% static 'ads/Ad-left.jpg' %}" width="200"></a>
        </div>
        <div class="col-md-8">
            <form action="{% url 'rides:create' %}" method="post">
                {% csrf_token %}
                <div class="mb-3"><label for="first_name">First Name</label><input class="form-control" name="first_name" maxlength="64" id="id_first_name" type="text"></div>
                <div class="mb-3"><label for="last_name">Last Name</label><input class="form-control" name="last_name" maxlength="64" id="id_last_name" type="text"></div>
                <div class="mb-3"><label for="origination_city">Origination City</label><input class="form-control" name="origination_city" id="id_origination_city" type="text"></div>
                <div class="mb-3">git
                    <label for="origination_state">Origination State</label><select class="form-control" name="origination_state" id="id_origination_state">
                        <option>AK</option>
                        <option>AZ</option>
                        <option>AR</option>
                        <option>CA</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DE</option>
                        <option>FL</option>
                        <option>GA</option>
                        <option>HI</option>
                        <option>ID</option>
                        <option>IL</option>
                        <option>IN</option>
                        <option>IA</option>
                        <option>KS</option>
                        <option>KY</option>
                        <option>LA</option>
                        <option>ME</option>
                        <option>MD</option>
                        <option>MA</option>
                        <option>MI</option>
                        <option>MN</option>
                        <option>MS</option>
                        <option>MO</option>
                        <option>MT</option>
                        <option>NE</option>
                        <option>NV</option>
                        <option>NH</option>
                        <option>NJ</option>
                        <option>NM</option>
                        <option>NY</option>
                        <option>NC</option>
                        <option>ND</option>
                        <option>OH</option>
                        <option>OK</option>
                        <option>OR</option>
                        <option>PA</option>
                        <option>RI</option>
                        <option>SC</option>
                        <option>SD</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>UT</option>
                        <option>VT</option>
                        <option>VA</option>
                        <option>WA</option>
                        <option>WV</option>
                        <option>WI</option>
                        <option>WY</option>
                    </select>
                </div>
                <div class="mb-3"><label for="destination_city">Destination City</label><input class="form-control" name="destination_city" maxlength="64" id="id_destination_city" type="text"></div>
                <div class="mb-3">
                    <label for="destination_state">Destination State</label><select class="form-control" name="destination_state" id="id_destination_state">
                        <option>AK</option>
                        <option>AZ</option>
                        <option>AR</option>
                        <option>CA</option>
                        <option>CO</option>
                        <option>CT</option>
                        <option>DE</option>
                        <option>FL</option>
                        <option>GA</option>
                        <option>HI</option>
                        <option>ID</option>
                        <option>IL</option>
                        <option>IN</option>
                        <option>IA</option>
                        <option>KS</option>
                        <option>KY</option>
                        <option>LA</option>
                        <option>ME</option>
                        <option>MD</option>
                        <option>MA</option>
                        <option>MI</option>
                        <option>MN</option>
                        <option>MS</option>
                        <option>MO</option>
                        <option>MT</option>
                        <option>NE</option>
                        <option>NV</option>
                        <option>NH</option>
                        <option>NJ</option>
                        <option>NM</option>
                        <option>NY</option>
                        <option>NC</option>
                        <option>ND</option>
                        <option>OH</option>
                        <option>OK</option>
                        <option>OR</option>
                        <option>PA</option>
                        <option>RI</option>
                        <option>SC</option>
                        <option>SD</option>
                        <option>TN</option>
                        <option>TX</option>
                        <option>UT</option>
                        <option>VT</option>
                        <option>VA</option>
                        <option>WA</option>
                        <option>WV</option>
                        <option>WI</option>
                        <option>WY</option>
                    </select>
                </div>
                <div class="mb-3"><label for="date">Date</label><input class="form-control" name="date" id="id_date" type="text" placeholder="01/01/2022"></div>
                <div class="mb-3"><label for="time">Time</label><input class="form-control" name="time" id="id_time" type="text" placeholder="14:30"></div>
                <div class="form-check mb-3">
                    <input class="form-check-input" name="taking_passengers" id="id_taking_passengers" type="checkbox" onclick="checkSeats()">
                    <label class="form-check-label" for="flexCheckDefault">Taking Passengers?</label>
                </div>
                <div class="mb-3"><label for="seats_available">Seats Available</label><input class="form-control" name="seats_available" id="id_seats_available" type="number" value=1></div>
                <div class="mb-3"><label for="vehicle_type">Vehicle Type</label><input class="form-control" name="vehicle_type" maxlength="64" id="id_vehicle_type" type="text"></div>
                <div class="mb-3"><label for="gas_contribution_request">Gas Contribution Request</label><input class="form-control" name="gas_contribution_request" maxlength="64" id="id_gas_contribution_request" type="number" value=0></div>
                <input type="submit" class="btn btn-primary p-3" value="Submit">
            </form>
        </div>
        <div class="col-md-2">
            <a href="https://draftkings.com" target="_blank"><img src="{% static 'ads/AD-RIGHT.gif' %}" width="200"></a>
        </div>
</div>

{% endblock %}